alias more='less -R'
alias cat='batcat -p'
alias top='htop'
alias ls='eza -lah --icons --color=always --group-directories-first'
alias ltree='eza -a --tree --color=always --level=2 --icons'
alias ltime='eza -lah --icons --color=always --sort=time'
