alias more='less'
alias cat='batcat'
alias top='htop'
alias ls='eza -lah --icons --color=always --group-directories-first | less -R'
alias lt='eza -a --tree --color=always --level=2 --icons | less -r'
